[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
jupyter = "*"
jupyter-console = "*"
pylint = "*"

[packages]
flask = "*"
pyarrow = "*"
pypdf2 = "*"

[requires]
python_version = "3.8"
